.rubik-glitch-regular {
    font-family: "Rubik Glitch", system-ui;
    font-weight: 400;
    font-style: normal;
}

.creepster-regular {
    font-family: "Creepster", system-ui;
    font-weight: 400;
    font-style: normal;
}




/* Nav Bar */
#NavBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    background-color: #162a68;
}
#NavBar li {
    float: left;
    font-size: 20px;
}
#NavBar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#NavBar li a:hover:not(.active) {
    background-color: #1f3f9e;
}

.active {
    background-color: rgb(31, 63, 158);
}

body {
    background-color: #171108;
}

#MainTitle {
    text-align: center;
    color:white;
    font-size: 50px;
    font-family: Creepster, system-ui;
}

#standardText {
    text-align: center;
    color:white;
    font-size: 50px;
}
#standardText img{
    width: 25%;
    height: auto;
}

table{
    display: flex;
    justify-content: center;
    border: 1px solid black;
    border-collapse: collapse;
    color: #4B3432;

}

th {
    background-color: lightblue;
    text-align: center;
    font-size: large;
    border: 1px solid black;
}
td:nth-child(odd) {
    background-color: #1f3f9e;
    border: 1px solid black;
    text-align: center;
    color: white;
    font-size: medium;
}
td:nth-child(even) {
    background-color: #1f3f9e;
    text-align: center;
    color: white;
    font-size: medium;
    border: 1px solid black;
}

#AllLinks {
    text-align: center;
}

.blogPics {
    width: 25%;
    height: auto;
}
.blogText {
    color: white;
    font-size: 18px;
}



/* Home Screen Picture Buttons*/
.aboutMeContainer {
    position: relative;
    max-width: 400px;
    float: left;

    width: 100%;

    padding: 10px;
}
.aboutMeContainer img {
    width: 100%;
    height: auto;
}
* {
    box-sizing: border-box;
}
.aboutMeContainer button {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

    width: 100%;
    height: 100%;


    background-color: rgba(0, 0, 0, 0);
    padding: 120px 150px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    font-size:40px;
    color: rgba(0 ,0, 0, 0);
    transition-duration: 0.4s;
    font-family: "Jersey 15", serif;
}
.aboutMeContainer button:hover {

}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}


/* Dropdown styling */
.dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
    width: 100%;
}

.dropdown-content {
    display: none;
    background-color: #f1f1f1;
    width: 100%;
    padding: 10px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    font-size: 10px;
}

.dropdown.show .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 10px 14px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-btn {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
}

.dropdown-btn:hover {
    background-color: #3e8e41;
}


